<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Google 商店官網，專售 Google</title>
  <link rel="shortcut icon" type="image/x-icon" href="./img/animalface_suzume.png" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  
  <!-- 引入fontawesome -->
  <link rel="stylesheet" href="./fontawesome/css/all.css" />

  <!-- my css -->
  <link rel="stylesheet" href="./styles/GoogleShop.css" />
</head>

<body>