<main>
    <div class="container-fluid px-0">
      <div id="carouselExampleCaptions" class="carousel slide bgcolor-gray" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-caption d-md-block carousel-text color-black">
              <p class="font-smaller">歡迎來到 Google 商店</p>
              <h4 class="font-weight-bolder">選購待在家裡的必需品</h4>
              <p class="mt-3">
                提升生產力，並串流播放你喜愛的音樂或各種影音內容。*
              </p>
              <p>
                <span>現省20％ | NT$2,584</span> <strike>NT$3,230</strike>
              </p>
              <a class="btn btn-primary btn-md rounded mt-4" href="#" role="button">立即選購</a>
            </div>
            <img src="./img/028.png" class="d-block w-20 carousel-img" alt="..." />
          </div>
          <div class="carousel-item">
            <div class="carousel-caption d-md-block carousel-text color-black">
              <p class="font-smaller">歡迎來到 Google 商店</p>
              <h4 class="font-weight-bolder">盡情享受娛樂時光</h4>
              <p class="mt-3">
                用 Chromecast 串流播放你喜愛的節目、電影或各種影音內容。**
              </p>
              <a class="btn btn-primary btn-md rounded mt-4" href="#" role="button">立即選購</a>
            </div>
            <img src="./img/008c.png" class="d-block w-20 carousel-img" alt="..." />
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div class="container-fluid pt-5 pb-4 bgcolor-white">
      <div class="row justify-content-center">
        <figure class="figure mx-4 figure-hover">
          <img src="./img/037.png" alt="" class="figure-img img-fluid rounded" width="120" />
          <figcaption class="figure-caption text-center font-weight-bolder">
            Chromecast
          </figcaption>
        </figure>

        <figure class="figure mx-4 figure-hover">
          <img src="./img/094.png" alt="" class="figure-img img-fluid rounded" width="120" />
          <figcaption class="figure-caption text-center font-weight-bolder">
            Pixel 4
          </figcaption>
        </figure>

        <figure class="figure mx-4 figure-hover">
          <img src="./img/104.png" alt="" class="figure-img img-fluid rounded" width="120" />
          <figcaption class="figure-caption text-center font-weight-bolder">
            Pixel 3a
          </figcaption>
        </figure>

        <figure class="figure mx-4 figure-hover">
          <img src="./img/108.png" alt="" class="figure-img img-fluid rounded" width="120" />
          <figcaption class="figure-caption text-center font-weight-bolder">
            Nest Mini (第 2 代)
          </figcaption>
        </figure>

        <figure class="figure mx-4 figure-hover">
          <img src="./img/018.png" alt="" class="figure-img img-fluid rounded" width="120" />
          <figcaption class="figure-caption text-center font-weight-bolder">
            所有配件
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="container-fluid px-0">
      <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-caption d-md-block carousel-text color-black">
              <p class="font-smaller">Pixel 4</p>
              <h4 class="font-weight-bolder row justify-content-start mx-0 bgcolor-none">
                <span>Pixel 4 – 能提供你及時</span><span class="col-12 px-0">協助的手機。</span>
              </h4>

              <a class="btn btn-light btn-md rounded mt-3 btn-W2D" href="#" role="button">瞭解詳情
              </a>
            </div>
            <img src="./img/240.png" class="d-block w-20 carousel-img" alt="..." />
          </div>
        </div>
      </div>

      <div class="bgcolor-white pt-4 px-3">
        <div class="row mx-0">
          <div class="col-12 col-md-6">
            <div class="bgcolor-gray px-0">
              <div class="text-center py-4">
                <p class="font-smaller">新一代 Google Nest Mini</p>
                <h4 class="font-weight-bolder mx-0 bgcolor-none">
                  音量超乎想像的迷你音響。
                </h4>
                <a class="btn btn-light btn-md rounded mt-3 btn-blue-border" href="#" role="button">
                  瞭解詳情
                </a>
              </div>
              <img class="w-100 px-5" src="./img/025.png" alt="" />
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="bgcolor-gray px-0">
              <div class="text-center py-4">
                <p class="font-smaller">Chromecast</p>
                <h4 class="font-weight-bolder mx-0 bgcolor-none">
                  Chromecast
                </h4>
                <a class="btn btn-light btn-md rounded mt-3 btn-blue-border" href="#" role="button">
                  瞭解詳情
                </a>
              </div>
              <img class="w-100 px-5" src="./img/172.png" alt="" />
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="bgcolor-gray px-0">
              <div class="text-center py-4">
                <p class="font-smaller">深入瞭解 Pixel 3a。</p>
                <h4 class="font-weight-bolder mx-0 bgcolor-none">
                  Pixel 3a
                </h4>
                <a class="btn btn-light btn-md rounded mt-3 btn-blue-border" href="#" role="button">
                  瞭解詳情
                </a>
              </div>
              <img class="w-100 px-5" src="./img/026.png" alt="" />
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="bgcolor-gray px-0">
              <div class="text-center py-4">
                <p>&nbsp;</p>
                <h4 class="font-weight-bolder mx-0 bgcolor-none">
                  選擇最適合你的 Pixel
                </h4>
                <a class="btn btn-light btn-md rounded mt-3 btn-blue-border" href="#" role="button">
                  瞭解詳情
                </a>
              </div>
              <img class="w-100 px-5" src="./img/0026.png" alt="" />
            </div>
          </div>

          <div class="col-12 pt-4">
            <div class="bgcolor-gray px-0 pt-5 pb-4">
              <div class="text-center py-4">
                <p><img src="https://img.icons8.com/color/48/000000/google-logo.png"/></p>
                <h2 class="font-weight-bolder row justify-content-center mx-0 bgcolor-none">
                  <span>我想收到 Google 商店的裝置資訊、最</span><span class="col-12 px-0">新消息、提示和優惠通知。</span>
                </h2>
                <a class="btn btn-light btn-md rounded mt-5 btn-blue-border" href="#" role="button">
                  登入並註冊
                </a>
                <p class="mt-2 font-smaller">或輸入電子郵件地址</p>
              </div>
            </div>
          </div>

          <div class="col-12 pt-4">
            <div class="px-5 pb-5">
              <p class="font-small">
                *購買 Nest Mini 和 Chromecast 現省 20%。促銷活動從 2020 年 4
                月 21 日凌晨 1 點 30 分起，到 2020 年 6 月 30 日晚上 11 點 59
                分截止
                (以台灣當地時間為準)。優惠對象僅限具備台灣運送地址且年滿 18
                歲的台灣居民。二項商品必須同時加入購物車才能享有此組合銷售優惠。若退還任何優惠商品，進行退款時我們將從退款金額中扣除優惠的金額。本優惠不得與任何促銷代碼或同一檔期的其他組合銷售優惠合併使用，亦不得轉讓，或用於兌換現金或等值於現金之物。本優惠僅適用於在台灣
                Google
                商店進行的購物交易，數量有限，售完為止；請注意結帳時可能會加收運費。此外，這項優惠在法律禁止使用的國家/地區無效。
              </p>
              <p class="font-small">
                **部分內容須訂閱才可存取。投放功能僅針對特定服務進行最佳化處理。可用的服務和內容視國家/地區而異。使用者可能必須遵守額外的條款及細則且/或支付其他費用。
              </p>
            </div>

            <div class="px-5 pt-5">
              <div class="d-flex justify-content-between align-items-start border-bottom pb-5">
                <img src="./img/googleShop.png" alt="" width="163" />

                <ul class="ul-link font-smaller pr-5">
                  <li><a href="#">下單</a></li>
                  <li class="pt-4"><a href="#">運送選項</a></li>
                  <li class="pt-4"><a href="#">追蹤包裹狀態</a></li>
                  <li class="pt-4"><a href="#">適用的國家/地區</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
